#nav-profile {
    margin: 1em;
    padding: 0;
}

#button-login {
    background-color: darkred;
    border-color: darkred;
    margin:0;
}

#button-div {
    margin: 0.5em;
}

#motion-button {
    border-radius: 20%;
    background-color: transparent;
    border-color: transparent;
    margin: 0.5em;
}

@media only screen and (max-width: 990px) {

    #right-navbar {
        margin: auto;
        position: absolute;
        top: 1rem;
        right: 60px;
        align-items: center;
    }

    #nav-profile {
        margin: 0;
    }

    #button-div {
        transform: scale(0.8);
    }

    #motion-button {
        margin: 0;
    }


}
