.App {
    text-align: left;
    overflow-x: hidden;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }


}

/*GENERAL*/

.title1 {
    text-align: center;
    margin-top: 20px;

}

.title2 {
    font-size: 26px;
    text-align: left;
    margin-bottom: 15px;
}

.title3 {
    font-size: 24px;
    text-decoration: underline green;
    margin: 15px 0 25px 0;
}

/*ADMIN*/

.tabAdmin{
    background-color: #E54E4E;
}

/*HOME*/

.homePage {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.videoDiv {
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-flex: content;
}

.videoDiv video {
    width: 60%;
    height: auto;
}


.divBg {
    background-image: url("assets/carton2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 50px;
}

/*EDIT PAGE*/

.editContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*PROFILE PAGE*/

.profileContainer {
    display: flex;
    width: 100%;
    margin-left: 50px;
}

.menuProfilePage {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    height: 810px;
    width: 300px;
}

.profileTab {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.divMenu {
    display: flex;
    flex-direction: row;
}

.listLocation {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;
}

.divPlace {
    color: black;
    display: flex;
    flex-direction: row;

}

.listPlaces {
    display: flex;
    flex-direction: column;
    color: black;
    width: 60%;
    margin: 50px auto 10px auto;
}

.placeInfoContainer {
    display: flex;
    flex-direction: row;
    border-bottom: lightgrey 1px solid;
}

.requestContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 20px;
}

.myPlacesCarousel {
    width: 350px;
    margin-right: 20px;
}

.myplacesImg {
    height: 200px;
}

.title3_myplaces {
    font-size: 23px;
    cursor: pointer;
}


/*FORM PLACE*/

.formPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mapFormulaireContainer {
    display: flex;
    flex-direction: row;
    margin: 0 50px 15px 50px;

}

.containerMap {
    width: 50%;
    margin: 15px 15px 0 0;
}

.formContainer {
    width: 50%;
    margin: 15px;
}

.form_checkbox{
    display: flex;
    flex-direction: row;
}

.label_description{
    margin-left: 15px;
}

.label_minDuration{
    margin: 0 0 0 15px;
}

.formGroupDiv {
    display: flex;
    flex-direction: row;
}

.formGroupDiv2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.fg {
    margin: 15px;
}

.fg-width {
    margin: 15px;
    width: 90%;
}

.fg > Label {
    text-align: left;
}

.mapDetailsInfo {
    font-size: 18px;
}


.form-right-images {
    margin-right: 80px;
}

.upload__image-wrapper {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-top: 15px;
    margin-bottom: 80px;
}

.image-item {
    position: relative;
    margin: 5px;
}

.remove-image {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.remove-image:hover {
    background: #E54E4E;
    padding: 3px 7px 5px;
    top: -11px;
    right: -11px;
}

.remove-image:active {
    background: #E54E4E;
    top: -10px;
    right: -11px;
}


.errors {
    color: red;
    font-size: 12px;
    text-align: left;
}

/*SURFACE CALCULATOR PAGE*/

.surfaceCalculatorPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.priceCalculatorPage{
    width: 80%;
    margin : 20px auto 20px auto;
}

.surfaceCard {
    width: 80%;
    margin: 40px auto 0 auto;
    text-align: left;
    padding: 20px;
}

.surfaceContentCard {
    display: flex;
    flex-direction: column;

}

.firstRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 20px;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.furnitureBox {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    margin-top: 15px;
    padding: 20px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 15px;
}

.boxBox {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    margin: 15px 15px 15px 0;
    padding: 20px;
    width: 100%;
}

.box > p {
    text-align: left;
    font-size: 20px;
    margin: 15px 0 5px 0;
}

.box > div > p {
    text-align: left;
    font-size: 20px;
    margin: 15px 0 5px 0;
}


.container3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.vehicleBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid lightgray;
    padding: 20px;
}

.vehicleBox > p {
    font-size: 25px;
    margin: 0 auto 0 auto;
}


/*DETAILS PAGE*/

.detailsPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px auto 0 auto;
    justify-content: center;
}

.titleLeft {
    width: 20%;
    margin: 0 auto 0 auto;
}

.titleDetails {
    color: black;
    width: 80%;
    margin: auto 0 auto 0;
}

.circleIcon {
    color: green;
}

.leftContainer {
    width: 20%;
}

.detailsContainer {
    width: 60%;
    text-align: center;
    margin-right: 25px;
}

.detailsImages {
    width: 350px;
    height: 500px;
}

.datePickerContainer {
    width: 25%;
    margin-right: 20px;
}

.infoCaraContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
}

.infoBox {
    text-align: left;
    width: 35%;
    padding: 15px;
    border-right: 1px solid lightgray;
}

.infoBox > h4 {
    margin-bottom: 15px;
}

.infoBox > div {
    display: flex;
    flex-direction: row;
}

.infoBox > div > p {
    text-align: left;
    font-size: 20px;
    margin-left: 5px;
}

.characteristicsBox {
    text-align: left;
    width: 65%;
    padding: 15px 0 0 30px;
}

.characteristicsBox > h4 {
    margin-bottom: 15px;
}

.characteristicsBox > div {
    display: flex;
    flex-direction: row;
}

.characteristicsBox > div > p {
    text-align: left;
    font-size: 20px;
    margin-left: 5px;
}

.descriptionBox {
    text-align: left;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid lightgray;
}

.descriptionBox > div > h4 {
    margin: 0 5px 15px 0;

}

.descriptionBox > div {
    display: flex;
    flex-direction: row;
}

.descriptionBox > p {
    text-align: left;
    font-size: 20px;
    margin-left: 5px;
}

.bookingBox1 {
    border: 1px solid lightgray;
    padding: 15px 0 15px 0;
}

.bookingBox1 > p {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.bookingBox2 {
    display: flex;
    height: 420px;
    flex-direction: column;
    margin: 15px 20px 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.bookingBox3 {
    text-align: center;
}

.shareContainer {
    text-align: left;
    margin-bottom: 15px;
    width: 50%;
}

.ratingContainer {
    text-align: right;
    width: 50%;
}

.commentBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: lightgrey 1px solid;
    margin-top: 10px;
}

.commentTitle {
    display: flex;
    flex-direction: row;
}


/*DATE PICKER*/
.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}

.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}

.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.Selectable .DayPicker-Day--pastDays {
    color: #C3C3C3;
    text-decoration: line-through;
    pointer-events: none;
}

.Selectable .DayPicker-Day--disabled {
    color: #C3C3C3;
    text-decoration: line-through;
}


/*FORM LOCATION*/

.formLocationPage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0 20px;
    width: 100%;
}


.column2 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 45%;
}

.column1 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 100%;
}

.column3 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 30%;
}

.divCoordonnees {
    width: 50%;
}

.recapImg {
    height: 200px;
}

.divRecap {
    width: 25%;
    margin: 0 15px 0 15px;
}

.column1 > label {
    font-size: 16px;
}

.column2 > label {
    font-size: 16px;
}

.column3 > label {
    font-size: 16px;
}

Form > p {
    font-size: 10px;
    text-align: left;
}

.confirmationSubtitle {
    text-align: center;
}


.recapBox1 {
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

.recapBox1 > p {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.recapBox2 {
    border: 1px solid lightgray;
    margin-bottom: 5px;
    padding: 5px;
}

.recapBox2 > p {
    font-size: 20px;
    text-align: left;
}

.formLocationTitle {
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

/*MAP*/

.map-left {
    background: #efeaea;
    width: 75%;
    max-height: 100vh;
}

.locations-right {
    padding: 0.25em;
    max-height: 99vh;
    background: #efeaea;
    width: 25%;
    height: available;
    overflow: hidden;
}

.mapPage {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 100%;
    color: black;
}

/*map + preview*/
.leaflet-container {
    display: flex;
    flex-direction: row;
    height: 600px;
    margin-top: 10px;

}

.labelFilters {
    font-size: 18px;
}

/*row of filter*/
.filters {
    display: flex;
    flex-direction: row;

}

/*card that contains all the filters*/
.filtersBox {
    height: 260px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.mapPreview {
    width: 40%;
    color: black;
    overflow-y: scroll;
}

.mapSearch {
    height: 800px;
    width: 100%;
    margin: 0;
}

.placeInfoMap {
    padding: 20px;
    border-bottom: 1px solid grey;
}

.placeInfoMap > p {
    text-align: left;
}

.displayFilters {
    visibility: hidden;
}

/*TEAM*/

.teamPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
    padding: 15px;
}

.teamDescription {
    width: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px auto 20px auto;

}

.teamCard {
    width: 30%;
    margin: 0 15px 0 15px;
}

.teamCard-content {
    font-size: 14px;
    text-align: justify;

}

.teamCard-content-center {
    font-size: 14px;
    text-align: center;

}


/*CONTACTS PAGE*/

.contactPage {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contactFormBox {
    width: 100%;
    text-align: center;
    color: black;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.contactForm {
    width: 80%;
    margin: 15px 20px 15px 20px;
    color: black;
    padding: 30px;
}

.contactFormGroup {
    margin-right: 50px;
    width: 40%;
}

.contactMessageFormGroup {
    width: 85%;
}

.form {
    text-align: left;

}

.rowContact {
    display: flex;
    flex-direction: row;
}

/**TERMS*/
.terms {
    width: 100%;
    text-align: justify;
}

.cardTerms {
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 50px;
}

.termsParagraph {
    font-size: 22px;
    text-align: justify;
}

.termsList {
    font-size: 22px;
    margin-left: 80px;
}


.termsTitle {
    border: green solid 1px;
    padding: 10px;
}

.termsList {
    list-style: none;
    margin-bottom: 15px;
}

.termsList > li::before {
    content: "•";
    color: green;
    display: inline-block;
    width: 15px;
    margin-left: -15px;
}

.termsNumerotation {
    list-style: none;
    counter-reset: li
}

.termsNumerotation > li {
    counter-increment: li;
}

.termsNumerotation > li::before {
    content: counter(li) ". ";
    color: green;
    display: inline-block;
    width: 30px;
}

.termsSubtitle {
    text-align: left;
    font-size: 23px;
    text-decoration: underline;
}

.termContractEx {
    border: lightgrey solid 1px;
    padding: 20px;
}

/*FAQ */
.faqPage {
    width: 100%;
}

.faqCard {
    padding: 15px;
}

.faqCard_title {
    border-bottom: 1px solid #5cb85c;
}

.faqAccordion {
    width: 80%;
    margin: 20px auto 20px auto;
    background: lightgrey;
    padding: 25px;

}

.accordion {
    margin: 5px 0 15px 0;

}

.tableTitle {
    background-color: #5cb85c;
}

.textPart {
    width: 80%;

}

.faqTypo {
    display: flex;
    flex-direction: row;
}

.faqTitle {
    color: black;
    height: 100px;
    width: 80%;
    margin: 20px auto auto;
    padding-top: 10px;
}


/** Calculator */
.calculator {
    color: black;
}

/** Spinner from react-bootstrap */
.spinner-border {
    align-self: center;
}

/* Fixed navbar */
body {
    padding-top: 70px;
}

/*CONFIRMATION PAGE*/

.confirmationPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.confirmationCard {
    width: 50%;
    margin: 0 auto 0 auto;
}

.confirmationImg {
    width: 20%;
    height: 20%;
}


/*HALF WINDOW ON DESKTOP / TABLET*/
@media only screen and (max-width: 900px) {
    .title1 {
        font-size: 22px;
    }

    .title2 {
        font-size: 20px;
    }

    .title3 {
        font-size: 18px;
    }

    .videoDiv video {
        width: 100%;
        height: auto;
    }

    .divContainer {
        flex-direction: column;
    }

    #imgCarton {
        display: none;
    }

    .contactForm {
        width: 90%;
    }

    .form {
        padding: 10px;
    }

    .displayFilters {
        visibility: visible;
    }

    .filtersBox {
        overflow-x: scroll;
        flex-direction: column;
    }

    .filters {
        flex-direction: column;
    }

    .leaflet-container {
        flex-direction: column;
    }

    .mapPreview {
        width: 100%;
    }

    .mapFormulaireContainer {
        flex-direction: column;
    }

    .formContainer {
        width: 96%;
    }



    .containerMap {
        width: 100%;
    }

    .termsParagraph {
        font-size: 16px;
        text-align: justify;
    }

    .termsList {
        font-size: 16px;
        margin-left: 20px;
    }

    .cardTerms {
        width: 90%;
        margin: 20px auto 20px auto;
        padding: 10px;
    }

    .divBg {
        height: 200px;
        padding-top: 35px;
    }

    .termsNumerotation > li::before {
        width: 20px;
    }

    .scrollableTable {
        width: 60vw;
        overflow-x: auto;
    }

    .profileTab {
        width: 80%;
    }

    .listPlaces {
        width: 100%;
    }

    .divMenu {
        display: flex;
        flex-direction: column;
    }

    .menuProfilePage {

        margin: auto;
        padding-top: 40px;
        height: 250px;
        width: 70%;
    }

    .detailsPage {
        flex-direction: column;
    }

    .detailsContainer {
        width: 90%;
        margin: auto;
    }

    .datePickerContainer {
        width: 90%;
        margin: 20px auto 20px auto;
    }

    .infoCaraContainer {
        flex-direction: column;
    }

    .infoBox {
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid lightgray;
    }

    .formLocationPage {
        flex-direction: column;
    }

    .divCoordonnees {
        margin: 20px auto 20px auto;
        width: 80%;
    }

    .divRecap {
        margin: 10px auto 10px auto;
        width: 80%;
    }

    .recapImg {
        height: 400px;
    }

    .teamDescription {
        flex-direction: column;
    }

    .teamCard{
        width: 80%;
        margin: 10px auto 10px auto;
    }

}

/*MOBILE*/

@media only screen and (max-width: 460px) {
    .teamPicture {
        height: 50px;
        width: 50px;
    }

    .teamCard-content {
        font-size: 10px;
    }

    .card-title {
        font-size: 10px;
    }

    .teamPage {
        width: 90%;
    }

    .divContainer {
        flex-direction: column;
    }

    footer {
        font-size: 7px;
    }

    .title1 {
        font-size: 20px;
    }

    .title2 {
        font-size: 18px;
    }

    .title3 {
        font-size: 16px;
    }

    .rowContact {
        flex-direction: column;
    }

    .leaflet-container {
        flex-direction: column;
    }

    .mapPreview {
        width: 100%;
    }


    .displayFilters {
        visibility: visible;
    }

    .filtersBox {
        overflow-x: scroll;
        flex-direction: column;
    }

    .filters {
        flex-direction: column;
    }

    .furnitureBox {
        flex-direction: column;
        width: 100%;
    }

    .firstRow {
        flex-direction: column;
    }

    .termsParagraph {
        font-size: 14px;
        text-align: justify;
    }

    .termsList {
        font-size: 14px;
        margin-left: 20px;
    }

    .cardTerms {
        width: 90%;
        margin: 20px auto 20px auto;
        padding: 10px;
    }

    .contactFormGroup {
        width: 100%;
    }

    .contactMessageFormGroup {
        width: 100%;
    }

    .faqAccordion {
        width: 90%;
        margin: 20px auto 20px auto;
        padding: 15px;

    }


    .faqTypo {
        display: flex;
        flex-direction: column;

    }

    .textPart {
        margin: 0 auto 0 auto;
    }

    .scrollableTable {
        width: 75vw;
        overflow-x: auto;
    }

    .faqTitle {
        margin-top: 15px;
        width: 90%;
        padding-top: 20px;
    }


    .formGroupDiv {
        display: flex;
        flex-direction: column;
    }

    .mapFormulaireContainer {
        width: 90%;
        margin: auto;
    }

    .formContainer {
        width: 90%;
    }
    .form_checkbox{
        display: flex;
        flex-direction: column;
    }

    .fg {
        margin: 0;
    }

    .mapAddPlaceFormBottom {
        display: none;
    }

    .profileTab {
        width: 80%;
    }


    .menuProfilePage {
        padding-top: 20px;
        height: 200px;
        width: 80%;
    }

    .titleLeft {
        width: 25%;
    }

    .detailsImages {
        height: 200px;
    }


    .divCoordonnees {
        width: 90%;
    }

    .divRecap {
        margin: 10px auto 10px auto;
        width: 90%;
    }

    .recapImg {
        height: 200px;
    }

    .row {
        flex-direction: column;
    }

    .column3 {
        width: 100%;
    }

    .confirmationCard {
        width: 80%;
        margin: 0 auto 0 auto;
    }

    .commentBox {
        flex-direction: column;
    }


    .placeInfoContainer {
        flex-direction: column;
    }

    .myplacesImg {
        height: 200px;
    }

    .myPlacesCarousel {
        width: 100%;
        margin-right: 0;
    }

    .label_minDuration{
        margin: 0 0 10px 0;
    }

    .requestContainer{
        flex-direction: column;
    }

    .requestBadge{
        margin-top: 15px;
    }

    .teamDescription {
        flex-direction: column;
    }
    .teamCard{
        width: 80%;
        margin: 10px auto 10px auto;
    }

}


